.main_center_header1{
    padding: 1rem;
}
.search-inner-div-reports {
    display: contents;
}

.search-inner-div-reports input {
    width: 191px;
    height: 39px;
    border: 2px solid #e96d00;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 1rem;
}

.Cheque_text{
    color: #e96d00;
    margin-bottom: 16px;
}

.Status_main_div{
    background: linear-gradient(
        90.65deg,
        rgba(250, 116, 1, 0.4) 0.56%,
        rgba(255, 255, 255, 0.4) 99.48%
      );

      height: 200px;
      display: flex;
    justify-content: center;
    align-items: center;
}

.Status_main_div label{
    font-size: 26px;
}


.inner-input-div1-select-cheque {
    height: 37px;
    width: 195px;
    padding-left: 6px;
    border-radius: 5px;
    border: 1px solid #e96d00;
    margin-left: 1rem;
    margin-right: 1rem;
}
.Status_main_div button{
    border: none;
    background-color: #e96d00;
    color: white;
    color: white;
    height: 42px;
    border-radius: 5px;
    width: 22%;
    font-size: 18px;
}

.cheque_main_info_div{
    background: linear-gradient(
    90.65deg,
    rgba(250, 116, 1, 0.4) 0.56%,
    rgba(255, 255, 255, 0.4) 99.48%
  );
}

.cheque_img_div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.cheque_img_div img{
    width: 571px;
    height: 300px;
}


.left_info_cheque{
    width: 50%;
}
.left_info_cheque p{
    margin-bottom: 8px;
}
.right_info_cheque{
    width: 50%;
    padding-top: 38px;
    padding-left: 18px;
}