.main_print_div{
    display: flex;
    justify-content: space-between;
}

.super_main_divsss{
    padding: 5rem;
    padding-top: 9rem;
}

.gray_color_div_print_content p{
    color: gray;
    font-weight: 300;
}

.gray-text{
    color: gray;
    font-weight: 300; 
}
.gray-text-div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    margin-bottom: 3rem;
   
}
.gray-text-div  p{
    color: gray;
    font-weight: 300; 
}
.common_margin_p{
    margin-bottom: 1rem;
}