.main_print_div{
    display: flex;
    justify-content: space-between;
}

.super_main_divsss{
    padding: 2rem;
    padding-top: 8rem;
    position: relative;
}

.gray_color_div_print_content p{
    color: gray;
    font-weight: 300;
}

.gray-text{
    color: gray;
    font-weight: 300; 
}
.gray-text-div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
   
}
.gray-text-div  p{
    color: gray;
    font-weight: 300; 
    font-size: 14px;
}
.common_margin_p{
    margin-bottom: 1.5rem;
    font-size: 14px;
}