.add_btn_main_dhara {
  width: 104px;
  height: 40px;
  background: #fdc99c !important;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #05313c !important;
}
.main_text_dhar {
  font-size: 20px;
}

.add_btn_main_dhara:hover {
  background: #f0d0b4 !important;
}

.main_upload_sharam {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cemera_inear_div {
  width: 278px;
  height: 98px;
  background: #e8e8e8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cemera_inear_div img {
  width: '40%';
}

.selctimg_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
