.adminmainheader {
  position: relative;
}

.adminnavbar {
  position: absolute;
  margin-left: 268px;
  display: flex;
  width: 82.1%;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 16px;
}

.adminnavbar p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000000;
}

.sliderdiv {
  position: absolute;
}

.searchmaindiv {
  width: 323px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.searchmaindiv input {
  margin-left: 17px;
  border: navajowhite;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.searchmaindiv input:focus {
  outline: none;
}
.searchbtn {
  width: 35px;
  height: 35px;
  background: #e96d00;
  border-radius: 4px;
  border: none;
  margin-right: 15px;
}

.profilemaindiv {
  height: 45px;
  margin-left: 1.5rem;

  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.rightmaindiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showburger {
  display: none;
}
.routetilem {
  display: flex;
  align-items: center;
}
/* css-changes */
.routetilem  p{
  margin-top: 0px;
  margin-bottom:0px;
  font-size: 16px;
  /* color: #e96d00; */
  color: #05313B;

}

.routetilem img{
  margin-right: 2rem;
}
@media screen and (max-width: 780px) {
  .routetilem {
    display: none;
  }
  .showburger {
    display: block;
    margin-right: 7%;
  }
  .sliderdiv {
    position: absolute;
    transform: translateX(-100%);
    -webkit-trsnsform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);

    transition: all 0.3s ease-in-out;
  }

  .open {
    position: absolute;
    transform: translateX(0);
    -webkit-trsnsform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .adminnavbar {
    margin-left: 0px;
  }

  .searchmaindiv{
    display: none;
  }
}

@media screen and (max-width: 1285px) {
  .adminnavbar {
    width: 80.1%;
  }
}

@media screen and (max-width: 1111px) {
  .adminnavbar {
    width: 78.1%;
  }
}

@media screen and (max-width: 1000px) {
  .adminnavbar {
    width: 76.1%;
  }
}


.main_notifiaction_div_card{
  background: linear-gradient(
    90.65deg,
    rgba(250, 116, 1, 0.4) 0.56%,
    rgba(255, 255, 255, 0.4) 99.48%
  );
  margin-bottom: 1rem;
}

.main_notification_main{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 2rem;
}

.noti_text_p h2{
    margin-left: 20px;
    margin-bottom: 7px;
}

.close_note_div{
     display: flex;
     justify-content: space-between;
    padding-left: 21px;
    padding-right: 19px;
    margin-bottom: 12px;
}